h1 {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 900;
    font-size: 3em;
}

#landing {
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.aligncenter {
    text-align: center;
    max-width: 100%;
    height: auto;
}